body {
  padding: 0;
  margin: 0;

  --color-dark: rgb(30, 30, 30);
  --color-light: white;

  background-color: var(--color-dark);
  color: var(--color-light);

  font-family: Text;

  font-size: 1.4rem;
}

@font-face {
  font-family: "Title";
  src: url("resources/fonts/blacksword/Blacksword.otf");
}

@font-face {
  font-family: "Text";
  src: url("resources/fonts/Kumbh_Sans/KumbhSans-Regular.ttf");
}

header {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

#mainTitle {
  font-family: "Title";
  color: var(--color-light);
  font-size: 9vh;
}

main {
  display: grid;
  align-items: center;
}

section {
  padding: 2rem;
  text-align: center;
}

.dates {
  /* font-family: monospace;
  white-space: pre-wrap; */
}

#blackAndWhiteImage {
  grid-area: bwimg;
  width: 100%;
}

#dates {
  grid-area: dates;
}

#colorfulImage {
  grid-area: cimg;
  width: 100%;
}

#contact {
  grid-area: contact;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: white;
}

#mail {
  text-decoration: none;
}

@media (min-width: 1000px) {
  main {
    grid-template-columns: repeat(11, 1fr);
    row-gap: 9rem;
    grid-template-areas:
      "bwimg   bwimg   bwimg   bwimg   bwimg   bwimg bwimg dates dates dates dates dates"
      "contact contact contact contact contact cimg  cimg  cimg  cimg  cimg  cimg  cimg";
    margin-bottom: 4.5rem;
  }
}
@media (max-width: 999px) {
  main {
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   ."
      "dates   dates   dates   dates   dates   dates   dates   dates   dates   dates"
      ".       cimg    cimg    cimg    cimg    cimg    cimg    cimg    cimg    cimg"
      "contact contact contact contact contact contact contact contact contact contact";
    margin-bottom: 2rem;
  }
}

footer {
  margin-bottom: 2rem;
  text-align: center;
}
