body {
  padding: 0;
  margin: 0;

  --color-dark: rgb(30, 30, 30);
  --color-lighter: white;
  --color-light: rgb(220, 220, 220);

  background-color: var(--color-dark);
  color: var(--color-lighter);

  font-family: Text;

  font-size: 1.4rem;
}

@font-face {
  font-family: "Title";
  src: url("resources/fonts/blacksword/Blacksword.otf");
}

@font-face {
  font-family: "Text";
  src: url("resources/fonts/Kumbh_Sans/KumbhSans-Regular.ttf");
}

header {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

#mainTitle {
  font-family: "Title";
  color: var(--color-lighter);
  font-size: 3rem;
}

#scrollIcon {
  position: absolute;
  bottom: 0;
  --size: 4rem;
  left: calc((100vw - var(--size)) / 2);
  width: var(--size);
  height: var(--size);
  stroke: var(--color-light);
  opacity: 0%;
  animation: bouncing 3s 4s infinite ease-in-out, appearance 2s 2s;
  animation-fill-mode: forwards;
}

@keyframes appearance {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes bouncing {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

main {
  display: grid;
  align-items: center;
}

section {
  padding: 2rem;
  text-align: center;
}

.dates {
  /* font-family: monospace;
  white-space: pre-wrap; */
}

#blackAndWhiteImage {
  grid-area: bwimg;
  width: 100%;
}

#dates {
  grid-area: dates;
}

#colorfulImage {
  grid-area: cimg;
  width: 100%;
}

#contact {
  grid-area: contact;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: white;
}

#mail {
  text-decoration: none;
}

@media (min-width: 1000px) {
  #mainTitle {
    font-size: 6rem;
  }

  main {
    grid-template-columns: repeat(11, 1fr);
    row-gap: 9rem;
    grid-template-areas:
      "bwimg   bwimg   bwimg   bwimg   bwimg   bwimg bwimg dates dates dates dates dates"
      "contact contact contact contact contact cimg  cimg  cimg  cimg  cimg  cimg  cimg";
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
  }
}
@media (max-width: 999px) {
  main {
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   bwimg   ."
      "dates   dates   dates   dates   dates   dates   dates   dates   dates   dates"
      ".       cimg    cimg    cimg    cimg    cimg    cimg    cimg    cimg    cimg"
      "contact contact contact contact contact contact contact contact contact contact";
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

footer {
  margin-bottom: 2rem;
  text-align: center;
}
